<!DOCTYPE html>
<html>
  <head>
    <title>Chatter Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  </head>
  <body>
    <p id="userId" class="hidden"><%= Email %></p>

    <!-- NavBar Object -->
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header-logout" id="navbar-header-home">
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <a class="navbar-brand" href="#">Chatter</a>
      <form class="navbar-form" id="logOut" method="POST" action="/logout">
        <button type="submit" class="btn btn-success" id="logOutButton">Log Out</button>
      </form>
      </div>
      </div>
    </nav>
    <!-- End NavBar Object -->
    
    <!-- Chat -->
    <div class="container">
      <div id="chatPanel" class="ui-widget-content">
          <p id="numUsers"></p>
          <h3 id="chat_title">Chat</h3>
          <div id="messages">
          </div>
          <textarea class="form-control" id="chat_message" placeholder="Enter message here"></textarea>
      </div>
    </div>
    <!-- End Chat -->

  <!-- Script References -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/login.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">


  <!-- End Script References -->

  </body>
</html>